* {}

body {
  margin: 10px;
}
/*iframe {
  background-color: yellow;
  display: block;
  width: 830px;
  height: 430px;
  border: 0;
}*/
p {
  border: 0;
  margin: 0;
}
.manyLinks {
  display: block;
}

iframe {
  background-image: url("board.PNG");
  width: 825px;
  height: 425px;
  border: 10px;
  margin: 20px;
  padding: 30px;
}
#sketch-holder {
  position: absolute;
}
