* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #090919;
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-weight: 400;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}



header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header>div#logo {
  background-image: url('icons/logo.svg');
  height: 40px;
  width: 149px;
  margin-top: 1.5em;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
}

header>.menuDown {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
}

header>.menuUp {
  box-shadow: none;
}

header>div#logo>h1 {
  color: white;
  font-weight: 300;
}

header>div#logo>div#navToggle {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  transition: 300ms all ease;
  background-repeat: no-repeat;
  background-image: url('icons/menu-right.svg');
  margin: 1.6em 0 0 1.5em;
}

header>div#logo>div#navToggle:hover {
  background-color: #fff;
}

header>div#logo>div#navToggle>a {
  background-repeat: no-repeat;
  display: block;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0 2.5rem;
  text-decoration: none;
  transition: 300ms all ease;
}

header>div#logo>div#navToggle:hover>a {
  color: #3333CC;
}

header>nav {
  background-color: white;
  display: none;
  flex: 1;
  transform: 300ms all ease;
}

header nav>ul {
  list-style-type: none;
}

header nav>ul>li {
  border-bottom: 1px dotted rgba(0, 0, 0, .1);
  position: relative;
}

header nav>ul>li:last-of-type {
  border-bottom: none;
}

header nav>ul>li>a {
  display: block;
  color: #090919;
  font-weight: 700;
  padding: 1.5rem 0;
  text-decoration: none;
  transition: 250ms all ease;
}

header nav>ul>li>a span.toggle {
  background-color: #090919;
  border-radius: 3rem;
  color: rgba(0, 0, 0, .25);
  font-size: 0.75em;
  font-weight: 500;
  padding: 2px 8px;
}

header nav>ul>li>a span.caret {
  display: none;
}

/*  Text colour change */
header>nav>ul>li:hover>a {
  color: #3333CC;
}

header>nav>ul>li>nav {
  background-color: #fff;
  border-radius: 1.5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
  display: none;
  overflow: hidden;
  position: absolute;
  right: 5%;
  width: 90%;
  z-index: 100;
}

/* Background dropdown text list */
header>nav>ul>li>nav>ul>li>a {
  color: #090919;
  transition: 300ms all ease;
}

header>nav>ul>li>nav>ul>li:hover>a {
  background-color: #3333CC;
  color: #fff;
}

iframe {
  background-color: green;
  display: block;
  width: 820px;
  height: 500px;
  position: fixed;
  /* or absolute */
  top: 30%;
  left: 30%;
  border: 1; /* put later 0 to make it disappear */
}
#game {
  background: #090919;
}
#people {
  background: #3333CC;
}
#game button {
border-radius: 50%;
box-shadow: inset 0px 0px 5px darkgrey;
height: 20%;
position: absolute;
top: 40%;
/*left: 40%;*/
width: 10%;
background: radial-gradient(at 50px 50px, #F30505, #000);
border: 0;
}
game button:focus {
  outline:none;
}
/*.startButt {
  color: yellow;
  border-bottom-right-radius: yellow;
}*/
#game button h3 {
  color: white;
  size: 20px;
  text-transform: capitalize;
  text-decoration-line: none;
}

#game button h3 a {
  size: 20px;
  width: 100%;
  text-decoration-line: none;
}

#aboutus {
  display: inline-block;
  margin-top: 200px;
  margin-left: 100px;
}
#aboutus h1 {
  padding: 20px;
  color: white;
}
#aboutus p {
  padding: 20px;
  color: white;
  width: 40%;
}
.team {
  display: flex;
  padding: 30px;
}
.team h2 {
  color: white;
  margin-bottom: 20px;
}
.team li{
  color: white;
}
.team li a{
  color: white;
  text-decoration: none;
}

#rabindra {
  padding: 0px 30px 30px 30px;
}
#riikka {
  padding: 0px 30px 30px 30px;
}
.story {
  display: inline-flex;
}
#avatar {
  width: 150px;
  height: 150px;
  margin-top: 200px;
}
#avatar img {
  border-radius: 20px;
  box-shadow: 0 0 3px black;
}

/* Medium screens */
@media all and (min-width: 600px) {
  header>div#logo>div#navToggle {
    display: none;
  }

  header {
    background-color: white;
    flex-direction: row;
    line-height: 90px;
    padding: 0 3rem;
    position: fixed;
    text-align: left;
    width: 100%;
  }

  header>div#logo {
    background-color: transparent;
    line-height: 90px;
  }

  header>div#logo>h1 {
    color: rgb(140, 193, 193);
  }

  header>nav {
    background-color: transparent;
    display: block;
  }

  header>nav>ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  header nav>ul>li {
    border-bottom: none;
  }

  header nav>ul>li>a {
    padding: 0 1.25rem;
  }

  header nav>ul>li>a span.toggle {
    display: none;
  }

  header nav>ul>li>a span.caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid rgba(0, 0, 0, .65);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-radius: 1px;
    content: "";
    display: inline-block;
    height: 0;
    margin: 0 0 0 .25rem;
    transition: 250ms all ease;
    width: 0;
    vertical-align: middle;
  }

  header nav>ul>li:hover>a span.caret {
    border-top-color: #3333CC;
    transform: rotate(270deg);
  }

  /* Blog drop down menu list background  */
  header>nav>ul>li:hover>nav {
    background-color: #fff;
    border-radius: .25em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
    display: block;
    line-height: 3em;
    right: -50%;
    width: 196px;
  }
}

.playgridio {
  color: #3333CC;
}

.menu-right {
  text-decoration: none;
  font-weight: bold;
  display: grid;
  align-items: center;
  background-image: url('icons/menu-right.svg');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 1.6em 0 0 1.5em;
  align-items: center;
}
